<div class="col-md-6 user-container">
  <h2 class="text-center">Add user</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input
        type="text"
        placeholder="username"
        class="form-control"
        formControlName="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        placeholder="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div class="form-group">
      <label for="username">First Name:</label>
      <input
        type="text"
        placeholder="First Name"
        class="form-control"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input
        type="text"
        placeholder="Last Name"
        class="form-control"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input
        type="number"
        placeholder="age"
        class="form-control"
        formControlName="age"
      />
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input
        type="number"
        placeholder="salary"
        class="form-control"
        formControlName="salary"
      />
    </div>

    <button class="btn btn-success">Add User</button>
  </form>
</div>
